header {
  background-color:rgb(192, 212, 10);
  width: auto;
  height: auto;
  align-content: center;
  text-align: center;
  text-height: 100px;
}

main {
  height: auto;
  width: auto;
  text-align: center;
  align-content: center;
}

footer {
  height: auto;
  width: auto;
  background-color:rgb(192, 212, 10);
}


h1{
  font-family: sans-serif;
  text-align: center;
  font-size: 50pt;
  color: rgb(124 ,87,16);
  margin: 0.1em;
  font-weight: bold;
}

h2{
  font-family: times;
  text-align: center;
  font-size: 20pt;
  color: rgb(124 ,87,16);
  padding: 25px;
  margin: 1px;
  font-weight: bold;
}

h3{
  font-family: times;
  text-align: center;
  font-size: 20pt;
  color: black;
  padding: 1px;
  font-weight: bold;
}

h5{
  font-family: sans-serif;
  text-align: center;
  font-size: 10pt;
  color: rgb(124 ,87,16);
  padding: 1em;
  margin: 0.1em;
  padding: 0.1em;
  font-weight: bold;
}

h6{
  font-family: sans-serif;
  text-align: center;
  font-size: 10pt;
  color:  rgb(124 ,87,16);
  padding: 10px;
  margin: 1px;
  border: 1px;
  font-weight: bold;
}


section {
  text-align: left;
  margin: 2rem 2rem;
  padding: 5rem 5rem;
  font-size: 1.5rem;
}
.social-icons {
  text-align: center;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  padding-top: 10px;
  }
.social-icons li a {
  border-bottom: none;
  }
.social-icons li img {
  width:2em;
  height:2em;
  margin: 1.1em;
}

.topnav1 li{
  display: inline;
  font-size: 1.2em;
  text-align: center;
  margin: 0.8em;
}

.boundery{
  padding: 15px;
  border: 15px;
  color: white;
}

.topnav2 li{
  display: inline;
  margin: 0.8em;
  font-size: 1em;
  text-align: center;
}


.wrapper{
  display: grid;
  display: center;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  list-style-type: none;
}
.nested{
  display: grid;
  text-align: center;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  grid-auto-rows: auto;
  list-style-type: none;
  
}
.wrapper > div{
  padding: 1em;
}

.nested > div{
  padding: 1em;
}

.nested > div > a{
  width: 0.5px;
  height: 0.5px;
}

.fixed1 {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 140px;
}

.myImage1{
  background-image: url("../img/Outdoor.jpg");
  width:1000px;
  height:250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: auto;
}

.myImage2{
  background-image: url("../img/Indoor.jpg");
  width:1000px;
  height:250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: auto;
}

.myImage3{
  background-image: url("../img/weights.jpg");
  width:1000px;
  height:250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin: auto;

}

.iconHelp{
  width: 250px;
  height: 150px;
}

.iconHelp:hover{
  cursor: pointer;
  opacity: 1;
}

img:hover{
  cursor: pointer;
  opacity: 0.5;
}

.noHover{
  pointer-events: none;
}


.img-grid-item1 {
  position: relative;
  overflow: hidden;
  padding: 80px;
}

.img-grid-item1:hover .grid-item-text1{
margin-bottom: 0;
}

.grid-item-text1{
  position: absolute;
  bottom: 0;
  right: 0;
  text-align:center;
  pointer-events: none;
  margin-bottom: -450px;
  transition: margin-bottom 1s ease-in
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  {
    width: 100%;
  }
  .myImage1{
    height: 80px;
  }

  .myImage2{
    height: 80px;
  }

  .myImage3{
    height: 80px;
  }
      h1{
        font-family: sans-serif;
        font-size: 41pt;
        color: rgb(124 ,87,16);
      }

      h2{
        font-family: times;
        text-align: center;
        font-size: 15pt;
        color: rgb(124 ,87,16);
        padding: 25px;
        margin: 1px;
      }

      h3{
        font-family: times;
        text-align: center;
        font-size: 15px;
        color: black;
        padding-top: 1px;
        margin-top: 1px;
      }

      h5{
        font-family: sans-serif;
        text-align: center;
        font-size: 8pt;
        color: rgb(124 ,87,16);
        padding: 1em;
        margin: 0.1em;
        padding: 0.1em;
      }

      h6{
        font-family: sans-serif;
        text-align: center;
        font-size: 8pt;
        color: rgb(124 ,87,16);
        padding: 10px;
        margin: 1px;
        border: 1px;
      }

      .topnav1 li{
        display: list-item;
        list-style: none;
        font-size: 1em;
        text-align: center;
        margin: 1px;
        padding-bottom: 10px;
      }

      .topnav2 li{
        display: list-item;
        list-style: none;
        margin: 1.5px;
        font-size: 0.9em;
        text-align: center;
      }

      .social-icons {
        text-align: center;
        }
      .social-icons li {
        display:inline-block;
        list-style-type:none;
        -webkit-user-select:none;
        -moz-user-select:none;
        padding-top: 10px;
        }
      .social-icons li a {
        border-bottom: none;
        }
      .social-icons li img {
        width:1.6em;
        height:1.6em;
        margin: 0.8em;
      }

        .wrapper{
          display: grid;
          display: center;
          grid-template-columns: 1fr;
          grid-gap: 0.1em;
          grid-auto-rows: minmax(100px, auto);
          text-align: center;
        }
        .nested{
          display: grid;
          text-align: center;
          grid-template-columns: repeat(2, 1fr);
          grid-gap: 0.11em;
          grid-auto-rows: auto;
        }
        .wrapper > div{
          padding: 0.1em;
          text-align: center;
        }

        .nested > div{
          padding: 0.1em;
          text-align: center;
        }

        .nested > div > a{
          width: 1px;
          height: 1px;
          text-align: center;
        }

        .responsive {
          width: 100%;
          max-width: 300px;
          max-height: 150px;
          text-align: center;
}
.myImage1{
  width: 100%;
  max-width: 300px;
  max-height: 150px;
  text-align: center;
  margin: auto;
}

.myImage2{
  width: 100%;
  max-width: 300px;
  max-height: 150px;
  text-align: center;
  margin: auto;
}

.myImage3{
  width: 100%;
  max-width: 300px;
  max-height: 150px;
  text-align: center;
  margin: auto;
}

.fixed1 {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 90px;
}

.iconHelp{
  width: 130px;
  height: 80px;
  position: relative;
}

.iconHelp:hover{
  cursor: pointer;
  opacity: 0.0;
}

}
